*{
    padding: 0;
    margin: 0;
}
h1{
    font-family:'Times New Roman', Times, serif;
    color: #333;
    font-size: 2em;
    text-align: center;
}
nav{
    background-color: #f2f2f2;
    padding: 10px;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:  white
}
nav a{
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}
nav a:hover{
        color: #d4a373;
    }

h2{
    font-family:'times new roman', Times, serif;
    color: #666;
    font-size: 1.5em;
    margin-top: 20px;
}
section{
    padding: 20px;
}
section.home{
    background-image: url('images/coffee.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
}
section.home h2{
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}
section.home p{
    color: white;
    font-size: 1.2em;
    max-width: 800px;
    line-height: 1.5;
}
.commodities-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding:  20px;
    max-width: 1200px;
    margin: 0 auto;
}
.commodity-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.commodity-card div{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.bags-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding:  20px;
    max-width: 1200px;
    margin: 0 auto;
}

.bag-card div{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.bag-card img{
width: 100%;
height: 400px;
object-fit: cover;
border-radius: 8px;
}


.site-footer{
    background-color: #f2f2f2;
    padding: 20px;
    display:flex;
    justify-content: center;
}
.contact-box{
    border-radius: 16px;
    background-color: white;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}
.contact-box h3{
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5em;
    margin-top: 0;
}
.bottom p{
    text-align: center;
    color: #666;
    font-size: 0.9em;
    margin:0;

}